body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif
       
}

.calculator{
    display:flex;
    flex-direction:column;
    margin:100px;
    background-color: grey;
    padding: 20px;
    border-radius:5px;
}

.display{
    display:flex;
    justify-content: end;
    align-items: stretch;
    /* background-color: white; */
    margin-bottom: 20px;
}

.display span{
    background-color: white;
    display:flex;
    align-self: stretch;
    align-items: center;
    flex-direction: row-reverse;
    flex-grow: 1;
}

.below_display{
    display:flex;
    flex-direction: row;
}

.operators{
    display:flex;
    flex-direction: column;
}

.first_row, .second_row, .third_row, .fourth_row{
    display:flex;
    flex-direction: row-reverse;
}

button{
    display:flex;
    margin: 5px;
    padding: 3px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: black;
    border-radius: 5px;
    border-color: orange;

}